@media (max-width: 576px){

    /*start navbar*/
    a.navbar-brand{
        width: 50% !important
    }
    .navbar span.mx-2.h6{
        font-size: 2rem !important
    }
    .navbar img.img-fluid.w-25{
        width: 13% !important
    }
    .navbar .end_nav .dropdown-toggle::before{
        border: none
    }
    .last_nav .position-absolute.w-100{
        left: 0px !important;
        top: -5px !important
    }
    .main_slider .carousel-inner{
        height: 180px
    }
    .carousel-control-prev, .carousel-control-next{
        width: 15%
    }
    .board.py-4 .carousel-inner{
        height: 350px
    }
    .navbar span.mx-2{
        font-size: 20px
    }
    .navbar img.img-fluid.w-25{
        width: 30px!important
    }
    .navbar .end_nav .dropdown-menu{
        left: auto !important
    }
    .founders.my-4 .carousel-control-prev,.founders.my-4 .carousel-control-next{
        width: 7%
    }

}